@model IEnumerable<KPPatients.Models.MedicationType>

@{
    ViewData["Title"] = "List of Medication Type";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicationTypeId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <a asp-controller="KPMedications" asp-action="Index" asp-route-MedicationTypeId="@item.MedicationTypeId">@Html.DisplayFor(modelItem => item.Name)</a>

            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MedicationTypeId)
                </td>
            <td>
                <a asp-controller="KPMedications" asp-action="Index" asp-route-MedicationTypeId="@item.MedicationTypeId">Medication name</a>|
                <a asp-action="Edit" asp-route-id="@item.MedicationTypeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MedicationTypeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MedicationTypeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
